.layout-with-border-store-item {
    border-radius: 25px;
    border: 4px solid orange;
    padding: 20px;
    width: 500px;
    height: border-box;
    position: center;
}

.layout-with-border-store-item-food {
    border-radius: 25px;
    border: 4px solid hotpink;
    padding: 20px;
    width: 500px;
    height: border-box;
    position: center;
}

